<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    Navbar
    <a href="/lucky/number2">Meh meh</a>
    Before block body
        {% block body %}{% endblock %}
    {% block body1 %}{% endblock %}

    after block body
        {% block javascripts %}{% endblock %}
    </body>
</html>
